@import url("setup.css");

:root{
    --carousel-width: 400px;
}

::-webkit-scrollbar{
    display: none;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "vend-sans";
    font-size: 1.1rem;
    overflow-x: hidden;
}

/* =============================================== */

div.background{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    z-index: -99;
}

div.background > video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-1::-webkit-scrollbar{
    display: none;
}


.section-1 > div.content{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: end;
    gap: 10%;
}

.section-1 > div.content > div.left{
    padding-left: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 50%;
    gap: 20px;
}

h1{
    margin: 0px;
    font-size: 4rem;
    line-height: 1em;
}

p{
    margin: 0px;
}

.section-1 > div.content > div.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
}

div.carousel{
    display: flex;
    gap: 2px;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    border: 2px #ffffff70 solid;
    box-shadow: 0px 0px 5px 1px #ffffff70;
    height: 200px;
    width: var(--carousel-width);
    border-radius: 15px;
}

div.item{
    scroll-snap-align: start;

}

div.item img{
    width: var(--carousel-width);
    transform: translateX(0px);
    animation: carousel 9s  ease-in-out infinite;
}

@keyframes carousel {
    0%   { transform: translateX(0); }
    33%  { transform: translateX(0); }

    38%  { transform: translateX(calc(-1 * var(--carousel-width))); }
    66%  { transform: translateX(calc(-1 * var(--carousel-width))); }

    71%  { transform: translateX(calc(-2 * var(--carousel-width))); }
    99%  { transform: translateX(calc(-2 * var(--carousel-width))); }

    100% { transform: translateX(0); }
}

div.handles{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 75px;
}

div.handles img{
    width: fit-content;
    transform: scale(1);
    transition: transform 0.3s ease;
}

div.handles img:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 950px) {
    :root{
        --carousel-width: 300px;
    }
    h1{
        font-size: 3rem;
    }
    .section-1 > div.content{
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 200px;
        overflow: scroll;
        width: 100vw;
        padding-top: 120px;
        gap: 0px;
    }

    div.left{
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-height: 975px) {
    :root{
        --carousel-width: 300px;
    }
    h1{
        font-size: 3rem;
    }
    .section-1 > div.content{
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 200px;
        overflow: scroll;
        width: 100vw;
        padding-top: 120px;
    }

    div.left{
        text-align: center;
        align-items: center;
    }
}

