@import url("setup.css");

::-webkit-scrollbar{
    display: none;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "vend-sans";
    font-size: 1.1rem;
}


nav{
    display: flex;
    justify-content: center;
}

div.navbar{
    margin-top: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 20px;
    width: 90%;
    height: 80px;
    border-radius: 50px;
    padding: 0px 10px;
    box-shadow: 0px 0px 8px 2px #0000008e;
}

.navbar > div.logo{
    height: 100%;
}

img{
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
}

.navbar > div.links {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

.navbar > div.links > a {
    padding: 5px 4%;
    border-radius: 50px;
    background-color: white;
    transition: background-color 0.3s ease;
}

.navbar > div.links > a:hover{
    background-color: #bdbdbd50;
}

a{
    text-decoration: none;
    color: black;
}

/* =============================================== */

.section-1{
    display: grid;
    grid-template-areas: "main";
}

.section-1 > div.background{
    grid-area: main;
    height: 100vh;
    width: 100vw;
    opacity: 0.85;
    z-index: -999;
    overflow-x: hidden;
    display: fixed;
}

video{
    overflow: hidden;
    height: 100%;
}

.section-1::-webkit-scrollbar{
    display: none;
}


.section-1 > div.content{
    grid-area: main;
    display: grid;
    grid-template-areas: "sec1 sec2";
}

.section-1 > div.content > div.left{
    align-self: end;
    grid-area: sec1;
    padding: 5%;
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}

h1{
    margin: 0px;
    font-size: 4rem;
    line-height: 1em;
}

p{
    margin: 0px;
}

.section-1 > div.content > div.right{
    justify-self: end;
    width: 70%;
    grid-area: sec2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}